body {
    margin: 0;
}
div.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 10px 10px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;


    ul {
        list-style: none;
        display: flex;

        * {
            margin: 0 10px;
        }
    }
}

div.home {
    border: 3px solid red;
    margin-top: 15px;

    height: 1000px;

    display: grid;
    grid-template-columns: 25 25 25 25 ;
}