html {
    margin: 0;
}

.modal-background {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.modal-child {
    min-height: 50%;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 25%;
    background-color: white;
    border-radius: 3px;

    form {
       display: flex;
       flex-direction: column;
       padding: 15px;


       label {
           display: flex;
           flex-direction: column;
           margin: 5px 0;

           
           
       }
    }
}

p.error {
    margin: 0;
    color: red;
}
.red-border > input {
    border-color: red;
}

.new-entry {
    ul {
        border: 1px solid black;
        display: flex;
        justify-content: space-around;
    }
}
.tracks {
    li {
        color: red;
        list-style: none;
        font-size: larger;
        margin-top: 10px;
        border-top: 3px solid black;
    }
}


div.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 10px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

    ul {
        list-style: none;
        display: flex;

        * {
            margin: 0 10px;
        }
    }
}

div.home {
    border: 3px solid red;
    margin-top: 15px;
    height: 1000px;
    display: grid;
    grid-template-columns: 25 25 25 25 ;
}